
body{
	background-color:  #65000b;
}
li{
	color: beige;
	
}


.wrapper {
	width:100%; 
	max-width:1500px; 
	margin:auto; 
	overflow:hidden; 
}
header {
	width:100%; 
	overflow:hidden; 
	background:#252932;
	margin-bottom:10px;
}


header nav a {
	text-align: justify;
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 10px;
	line-height:normal;
	font-size:13.5px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.navegacion{
background-color: beige;
position: fixed;
top:0px;
left: 0px;
width: 20%;
}
.navegacion ul{
list-style-type: none;

}
.navegacion ul  li{
	display: inline-block;
	border: 1px solid wheat;
	padding: 5px;
	background-color: tomato;
   }
h1{
	display: block;
	font:small-caps 100%/100% serif;
    text-align: center;

	color: chocolate;
}



.img_EAP{	
	float: left;
	height: 250px;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 600px;
    border-width: 1px;
	border-style: solid;
	border-color: black;
}

.Contenido{
	font-size: 15px;
	padding: 15px;
	max-width: 1000px;
	text-align: justify;
	margin:auto;
	display:block;	 
    overflow: hidden;   
}

.listado{
	color: white;
}
p{
	color: white;
	text-align: justify;
}
.scroll {
    width:750px;
   height:600px;
   overflow:scroll;
 
}

.Lcapital{
font-size:  50px;
}

.ini{
	margin-left: 500px;
	text-align: left;
	color: beige;
  }

